header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: transparent;
  padding: 15px 40px;
  z-index: 1000;
  transition: background 0.3s 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  font-family: "NewYork", serif;
  font-size: 40px;
  line-height: 44px;
  font-weight: 400;
  width: 100%;
  text-align: center;
  position: absolute;
}
header.scrolled {
  background-color: rgba(255, 255, 255, 0.9);
}
header .fa {
  font: normal normal normal 28px/1 FontAwesome !important;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  position: relative;
}
.navbar .nav-icons {
  display: flex;
  gap: 20px;
  z-index: 9999;
}
.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  z-index: 9999;
}
.navbar .nav-links li a {
  text-decoration: none;
  font-size: 18px;
  color: #000000;
}
.navbar.hide {
  height: 28px;
}
.navbar.hide .logo, .navbar.hide .nav-icons {
  display: none;
}
.navbar .hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}
.navbar .hamburger span {
  width: 25px;
  height: 3px;
  background: #000000;
}
.navbar .hamburger.active span:nth-child(1) {
  transform: rotate(45deg);
  position: absolute;
}
.navbar .hamburger.active span:nth-child(2) {
  opacity: 0;
}
.navbar .hamburger.active span:nth-child(3) {
  transform: rotate(-45deg);
  position: absolute;
}
@media screen and (max-width: 768px) {
  .navbar .nav-links, .navbar .fa-search, .navbar .fa-user {
    display: none;
  }
  .navbar .hamburger {
    display: flex;
    z-index: 9999;
  }
}

/* Mobile Nav */
.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  padding: 80px 40px 40px 40px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.mobile-nav.active {
  display: flex;
}
.mobile-nav a {
  font-size: 32px;
  color: #000000;
  text-decoration: none;
  line-height: 36px;
  font-family: NewYork;
}
.mobile-nav ul {
  list-style: none;
  text-align: left;
}
.mobile-nav ul li {
  margin-bottom: 15px;
}
.mobile-nav .mobile-icons {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  border-top: solid 1px #000000;
  padding-top: 10px;
  font-size: 18px;
  line-height: 26px;
}
.mobile-nav .mobile-icons .search-icon, .mobile-nav .mobile-icons .account-icon {
  display: inline-flex;
  gap: 10px;
}
.mobile-nav .mobile-icons .search-icon .fa, .mobile-nav .mobile-icons .account-icon .fa {
  font: normal normal normal 24px/1 FontAwesome !important;
}
.mobile-nav .mobile-icons hr {
  height: 100%;
  width: 1px;
  background-color: #000000;
  border: none;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 60px 0;
  max-width: 1390px;
  margin: auto;
}
.footer .footer-wrapper {
  width: 100%;
  display: flex;
}
@media screen and (max-width: 768px) {
  .footer .footer-wrapper {
    padding: 0 30px;
    display: block;
  }
}
.footer .copyright-wrapper {
  display: flex;
  justify-content: space-between;
}
.footer .copyright-wrapper .footer-brand {
  font-family: "NewYork", serif;
  font-size: 40px;
  line-height: 44px;
  font-weight: 400;
}
.footer .copyright-wrapper .footer-copyright {
  font-size: 16px;
  line-height: 22px;
  font-family: "NewYork";
  align-content: center;
}
.footer .footer-section {
  flex: 1;
  margin-bottom: 20px;
}
.footer .footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer-section ul li {
  margin-bottom: 10px;
}
.footer .footer-section ul li a {
  text-decoration: none;
  color: #000000;
}
.footer .footer-subscribe {
  flex: 3.5;
}
@media screen and (max-width: 768px) {
  .footer .footer-subscribe .section-title {
    flex: 1;
  }
}
.footer .footer-social {
  justify-content: flex-start;
}
.footer .footer-bottom {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .footer .footer-bottom {
    text-align: center;
    padding: 0 30px;
  }
}
.footer h3 {
  font-size: 20px;
  font-family: "NewYork", serif;
  font-weight: 400;
  margin-bottom: 10px;
}
.footer .footer-subscribe h3 {
  font-size: 24px;
  line-height: 26px;
}
.footer .footer-social {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}
.footer .footer-social .fa {
  font: normal normal normal 28px/1 FontAwesome !important;
}
.footer .footer-bottom hr {
  height: 1px;
  width: 100%;
  background-color: #000000;
  border: none;
  margin: 10px 0;
}
.footer .subscribe-container {
  display: flex;
  border: 1px solid #000000;
  padding: 8px;
  width: 100%;
  max-width: 300px;
  justify-content: space-between;
}
.footer .subscribe-container input {
  border: none;
  background: none;
  outline: none;
  width: 100%;
  padding: 5px;
}
.footer .subscribe-container button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Futura", sans-serif;
}

.container {
  max-width: 906px;
  margin: auto;
  padding: 140px 20px 20px;
}
.container p, .container h1, .container h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.container p {
  font-size: 18px;
  line-height: 26px;
}
@media screen and (max-width: 768px) {
  .container p {
    font-size: 16px;
    line-height: 22px;
  }
}
.container ul {
  padding-left: 20px;
}
.container li {
  line-height: 28px;
}

.article {
  text-align: center;
}
.article .article-title {
  font-size: 56px;
  line-height: 62px;
  font-family: "NewYork", serif;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .article .article-title {
    font-size: 32px;
    line-height: 36px;
  }
}
.article .article-meta {
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.article .artical-social {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.article .artical-social .fa {
  font: normal normal normal 26px/1 FontAwesome !important;
}
.article .article-image {
  width: 100%;
  max-width: 906px;
  margin: 20px 0;
}
.article .image-flex {
  text-align: center;
  margin: 30px 0;
}
.article .article-image-center {
  width: 100%;
  max-width: 662px;
}
.article .content {
  text-align: justify;
  max-width: 862px;
  margin: auto;
}
.article .content .numeric-list {
  list-style: auto;
}

.shop-button {
  background: transparent;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  margin: 30px 0;
}

.latest-news {
  padding: 20px 0;
  text-align: center;
}
.latest-news .container {
  padding-top: 0;
}
.latest-news .container h2 {
  margin-top: 60px;
}
.latest-news hr {
  height: 1px;
  width: 100%;
  background-color: #000000;
  border: none;
  margin: 10px 0;
}
.latest-news p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}
.latest-news .news-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.latest-news .news-item {
  display: flex;
  gap: 20px;
  padding: 10px;
  text-align: left;
}
.latest-news .news-item img {
  max-width: 127px;
}
@media screen and (max-width: 768px) {
  .latest-news .news-item img {
    max-width: 115px;
    max-height: 106px;
  }
}
.latest-news .news-item h3 {
  margin-top: 10px;
}
.latest-news .news-item a {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  font-family: "NewYork", serif;
}
@media screen and (max-width: 768px) {
  .latest-news .news-item a {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 768px) {
  .navbar .container {
    flex-direction: column;
  }
  .article .container {
    padding: 100px 0 0;
  }
  .article .container .article-title, .article .container .article-meta, .article .container .content {
    padding: 0 20px;
  }
  h2 {
    font-size: 18px;
    line-height: 26px;
  }
}

/*# sourceMappingURL=blog.css.map */
